<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fixtures</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/scripts/index.js" type="module" defer></script>
</head>
<body>
  <h1>Fixtures</h1>
  <button id="generate-fixtures">Generate Fixtures</button>
  <div id="fixtures-list"></div>
</body>
</html>