<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fixtures</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Fixtures</h1>
  <% for (const fixture of fixtures) { %> 
    <div>
      <h1><%= fixture.name %></h1>
      <ul>
        <% for (const match of fixture.value) { %> 
          <li><%= match.teamA.name %> vs. <%= match.teamB.name %></li>
        <% } %> 
      </ul>
    </div>
  <% } %> 
</body>
</html>